In [46]:
import pandas as pd
import numpy as np
from unidecode import unidecode

file = pd.ExcelFile('datasets/combustivel-2000a2020.xlsx')

#names = file.sheet_names  # see all sheet names
df_comb = file.parse('Diesel')
df_comb['Combustivel'] = 'Diesel'

for name in ['Etanol', 'Gasolina', 'GNV']:
    df = file.parse(name)
    df['Combustivel'] = name
    df_comb = pd.concat([df_comb, df])

In [47]:
df_comb

,ESTADO,CÓDIGO IBGE,Município,Capital,Código RM,2020,2019,2018,2017,2016,...,2005,2004,2003,2002,2001,2000,Combustivel,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,Rondônia,1100015,Alta Floresta D'Oeste,0,-,0,5912500,6626679,6437641.0,6915000,...,3515500,2013000,2974000,4864400,5223350,2049600,Diesel,NaN,NaN,NaN
1,Rondônia,1100379,Alto Alegre dos Parecis,0,-,0,1470000,1355000,1810500.0,1868000,...,2996000,64000,105000,0,20000,35000,Diesel,NaN,NaN,NaN
2,Rondônia,1100403,Alto Paraíso,0,-,0,3434000,3586882,4005404.0,3822000,...,1514000,1411000,1156200,755000,515000,245100,Diesel,NaN,NaN,NaN
3,Rondônia,1100346,Alvorada D'Oeste,0,-,0,2645000,2801036,2302780.0,2960000,...,5156150,3955000,3503000,4160700,5470150,5330000,Diesel,NaN,NaN,NaN
4,Rondônia,1100023,Ariquemes,0,-,0,54064600,55016759,52768790.0,53016000,...,40482899,39586234,28897134,24090125,14528385,6697411,Diesel,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,Goiás,5222005,Vianópolis,0,-,0,0,2626,2322.0,3187,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5566,Goiás,5222054,Vicentinópolis,0,-,0,0,350,357.0,531,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5567,Goiás,5222203,Vila Boa,0,1,0,0,350,357.0,531,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5568,Goiás,5222302,Vila Propício,0,1,0,0,175,179.0,266,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5569,Distrito Federal,5300108,Brasília,Capital,1,1524677,2224380,1861500,1445400.0,1919467,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN

In [48]:
df_comb.rename(columns={'Município': 'Municipio', 'ESTADO': 'UF'}, inplace = True)
df_comb

,UF,CÓDIGO IBGE,Municipio,Capital,Código RM,2020,2019,2018,2017,2016,...,2005,2004,2003,2002,2001,2000,Combustivel,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,Rondônia,1100015,Alta Floresta D'Oeste,0,-,0,5912500,6626679,6437641.0,6915000,...,3515500,2013000,2974000,4864400,5223350,2049600,Diesel,NaN,NaN,NaN
1,Rondônia,1100379,Alto Alegre dos Parecis,0,-,0,1470000,1355000,1810500.0,1868000,...,2996000,64000,105000,0,20000,35000,Diesel,NaN,NaN,NaN
2,Rondônia,1100403,Alto Paraíso,0,-,0,3434000,3586882,4005404.0,3822000,...,1514000,1411000,1156200,755000,515000,245100,Diesel,NaN,NaN,NaN
3,Rondônia,1100346,Alvorada D'Oeste,0,-,0,2645000,2801036,2302780.0,2960000,...,5156150,3955000,3503000,4160700,5470150,5330000,Diesel,NaN,NaN,NaN
4,Rondônia,1100023,Ariquemes,0,-,0,54064600,55016759,52768790.0,53016000,...,40482899,39586234,28897134,24090125,14528385,6697411,Diesel,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,Goiás,5222005,Vianópolis,0,-,0,0,2626,2322.0,3187,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5566,Goiás,5222054,Vicentinópolis,0,-,0,0,350,357.0,531,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5567,Goiás,5222203,Vila Boa,0,1,0,0,350,357.0,531,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5568,Goiás,5222302,Vila Propício,0,1,0,0,175,179.0,266,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5569,Distrito Federal,5300108,Brasília,Capital,1,1524677,2224380,1861500,1445400.0,1919467,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN

In [49]:
df_comb['Municipio'] = df_comb['Municipio'].convert_dtypes()
df_comb['Municipio'] = df_comb['Municipio'].str.upper()
df_comb['Municipio'] = df_comb['Municipio'].apply(unidecode)
df_comb['UF'] = df_comb['UF'].convert_dtypes()
df_comb['UF'] = df_comb['UF'].str.upper()
df_comb['UF'] = df_comb['UF'].apply(unidecode)

df_comb

,UF,CÓDIGO IBGE,Municipio,Capital,Código RM,2020,2019,2018,2017,2016,...,2005,2004,2003,2002,2001,2000,Combustivel,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,RONDONIA,1100015,ALTA FLORESTA D'OESTE,0,-,0,5912500,6626679,6437641.0,6915000,...,3515500,2013000,2974000,4864400,5223350,2049600,Diesel,NaN,NaN,NaN
1,RONDONIA,1100379,ALTO ALEGRE DOS PARECIS,0,-,0,1470000,1355000,1810500.0,1868000,...,2996000,64000,105000,0,20000,35000,Diesel,NaN,NaN,NaN
2,RONDONIA,1100403,ALTO PARAISO,0,-,0,3434000,3586882,4005404.0,3822000,...,1514000,1411000,1156200,755000,515000,245100,Diesel,NaN,NaN,NaN
3,RONDONIA,1100346,ALVORADA D'OESTE,0,-,0,2645000,2801036,2302780.0,2960000,...,5156150,3955000,3503000,4160700,5470150,5330000,Diesel,NaN,NaN,NaN
4,RONDONIA,1100023,ARIQUEMES,0,-,0,54064600,55016759,52768790.0,53016000,...,40482899,39586234,28897134,24090125,14528385,6697411,Diesel,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,GOIAS,5222005,VIANOPOLIS,0,-,0,0,2626,2322.0,3187,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5566,GOIAS,5222054,VICENTINOPOLIS,0,-,0,0,350,357.0,531,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5567,GOIAS,5222203,VILA BOA,0,1,0,0,350,357.0,531,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5568,GOIAS,5222302,VILA PROPICIO,0,1,0,0,175,179.0,266,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN
5569,DISTRITO FEDERAL,5300108,BRASILIA,Capital,1,1524677,2224380,1861500,1445400.0,1919467,...,0,0,0,0,0,0,GNV,NaN,NaN,NaN

In [50]:
df_rms = pd.read_csv('datasets/rms_rev02.csv')

df_comb_rm = df_comb[df_comb[['UF', 'Municipio']].apply(tuple, axis=1).isin(df_rms[['UF','Municipio']].apply(tuple, axis=1))]
df_comb_rm = pd.merge(df_comb_rm, df_rms[['Municipio', 'UF', 'RM']], on=['Municipio', 'UF'], how='left')

df_comb_rm

,UF,CÓDIGO IBGE,Municipio,Capital,Código RM,2020,2019,2018,2017,2016,...,2004,2003,2002,2001,2000,Combustivel,Unnamed: 26,Unnamed: 27,Unnamed: 28,RM
0,RONDONIA,1100809,CANDEIAS DO JAMARI,0,16,0,59589000,58344972,5.335338e+07,46337000,...,11463600,3580000,4590000,2895200,690000,Diesel,NaN,NaN,NaN,Região Metropolitana de Porto Velho
1,RONDONIA,1100205,PORTO VELHO,Capital,16,0,261540769,259397892,2.575658e+08,219497300,...,204891088,200644188,173513484,227318522,295847219,Diesel,NaN,NaN,NaN,Região Metropolitana de Porto Velho
2,ACRE,1200401,RIO BRANCO,Capital,17,0,49512800,48819694,4.979654e+07,55276150,...,101441836,129746028,172808333,160890452,148512414,Diesel,NaN,NaN,NaN,Rio Branco
3,AMAZONAS,1300300,AUTAZES,0,15,0,2926755,1679924,6.606146e+06,13975670,...,3765128,2916911,2459912,2648142,2740248,Diesel,NaN,NaN,NaN,Região Metropolitana de Manaus
4,AMAZONAS,1301100,CAREIRO,0,15,0,2895465,2834759,1.028779e+07,21168500,...,6606166,4518678,3262884,3831900,4931472,Diesel,NaN,NaN,NaN,Região Metropolitana de Manaus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1667,GOIAS,5221403,TRINDADE,0,2,0,0,14357,1.321600e+04,18590,...,0,0,0,0,0,GNV,NaN,NaN,NaN,Região Metropolitana de Goiânia
1668,GOIAS,5221858,VALPARAISO DE GOIAS,0,1,0,0,21535,2.143200e+04,30276,...,0,0,0,0,0,GNV,NaN,NaN,NaN,Região Integrada de Desenvolvimento do Distrit...
1669,GOIAS,5222203,VILA BOA,0,1,0,0,350,3.570000e+02,531,...,0,0,0,0,0,GNV,NaN,NaN,NaN,Região Integrada de Desenvolvimento do Distrit...
1670,GOIAS,5222302,VILA PROPICIO,0,1,0,0,175,1.790000e+02,266,...,0,0,0,0,0,GNV,NaN,NaN,NaN,Região Integrada de Desenvolvimento do Distrit...
1671,DISTRITO FEDERAL,5300108,BRASILIA,Capital,1,1524677,2224380,1861500,1.445400e+06,1919467,...,0,0,0,0,0,GNV,NaN,NaN,NaN,Região Integrada de Desenvolvimento do Distrit...

In [51]:
df_comb_rm.dtypes

UF              object
CÓDIGO IBGE      int64
Municipio       object
Capital         object
Código RM       object
2020             int64
2019            object
2018             int64
2017           float64
2016             int64
2015             int64
2014             int64
2013             int64
2012             int64
2011             int64
2010             int64
2009           float64
2008           float64
2007           float64
2006           float64
2005             int64
2004             int64
2003             int64
2002             int64
2001             int64
2000             int64
Combustivel     object
Unnamed: 26    float64
Unnamed: 27    float64
Unnamed: 28    float64
RM              object
dtype: object

In [52]:
df_comb_rm = df_comb_rm.drop(labels=['CÓDIGO IBGE', 'Capital', 'Código RM'], axis=1)
df_comb_rm = df_comb_rm.dropna(axis=1)
df_comb_rm

,UF,Municipio,2020,2019,2018,2017,2016,2015,2014,2013,...,2007,2006,2005,2004,2003,2002,2001,2000,Combustivel,RM
0,RONDONIA,CANDEIAS DO JAMARI,0,59589000,58344972,5.335338e+07,46337000,39964000,20429000,16597000,...,15410000.0,1.487881e+07,15093200,11463600,3580000,4590000,2895200,690000,Diesel,Região Metropolitana de Porto Velho
1,RONDONIA,PORTO VELHO,0,261540769,259397892,2.575658e+08,219497300,199257053,248662629,215631906,...,211049425.0,2.861249e+08,272439435,204891088,200644188,173513484,227318522,295847219,Diesel,Região Metropolitana de Porto Velho
2,ACRE,RIO BRANCO,0,49512800,48819694,4.979654e+07,55276150,61802030,70111651,65282500,...,46436377.0,6.481561e+07,102939856,101441836,129746028,172808333,160890452,148512414,Diesel,Rio Branco
3,AMAZONAS,AUTAZES,0,2926755,1679924,6.606146e+06,13975670,12486973,11079371,10886555,...,4798154.0,4.936229e+06,5454076,3765128,2916911,2459912,2648142,2740248,Diesel,Região Metropolitana de Manaus
4,AMAZONAS,CAREIRO,0,2895465,2834759,1.028779e+07,21168500,19811500,17056000,15655770,...,9653000.0,1.112476e+07,8015877,6606166,4518678,3262884,3831900,4931472,Diesel,Região Metropolitana de Manaus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1667,GOIAS,TRINDADE,0,0,14357,1.321600e+04,18590,16746,17470,0,...,0.0,0.000000e+00,0,0,0,0,0,0,GNV,Região Metropolitana de Goiânia
1668,GOIAS,VALPARAISO DE GOIAS,0,0,21535,2.143200e+04,30276,28973,26205,0,...,0.0,0.000000e+00,0,0,0,0,0,0,GNV,Região Integrada de Desenvolvimento do Distrit...
1669,GOIAS,VILA BOA,0,0,350,3.570000e+02,531,532,582,0,...,0.0,0.000000e+00,0,0,0,0,0,0,GNV,Região Integrada de Desenvolvimento do Distrit...
1670,GOIAS,VILA PROPICIO,0,0,175,1.790000e+02,266,532,582,0,...,0.0,0.000000e+00,0,0,0,0,0,0,GNV,Região Integrada de Desenvolvimento do Distrit...
1671,DISTRITO FEDERAL,BRASILIA,1524677,2224380,1861500,1.445400e+06,1919467,2069915,2254362,0,...,0.0,0.000000e+00,0,0,0,0,0,0,GNV,Região Integrada de Desenvolvimento do Distrit...

In [53]:
df_comb_rm = df_comb_rm.melt(id_vars=['UF', 'Municipio', 'RM', 'Combustivel'], var_name='Ano', value_name='Quantidade')
df_comb_rm

,UF,Municipio,RM,Combustivel,Ano,Quantidade
0,RONDONIA,CANDEIAS DO JAMARI,Região Metropolitana de Porto Velho,Diesel,2020,0
1,RONDONIA,PORTO VELHO,Região Metropolitana de Porto Velho,Diesel,2020,0
2,ACRE,RIO BRANCO,Rio Branco,Diesel,2020,0
3,AMAZONAS,AUTAZES,Região Metropolitana de Manaus,Diesel,2020,0
4,AMAZONAS,CAREIRO,Região Metropolitana de Manaus,Diesel,2020,0
...,...,...,...,...,...,...
35107,GOIAS,TRINDADE,Região Metropolitana de Goiânia,GNV,2000,0
35108,GOIAS,VALPARAISO DE GOIAS,Região Integrada de Desenvolvimento do Distrit...,GNV,2000,0
35109,GOIAS,VILA BOA,Região Integrada de Desenvolvimento do Distrit...,GNV,2000,0
35110,GOIAS,VILA PROPICIO,Região Integrada de Desenvolvimento do Distrit...,GNV,2000,0
35111,DISTRITO FEDERAL,BRASILIA,Região Integrada de Desenvolvimento do Distrit...,GNV,2000,0

In [54]:
df_comb_rm = df_comb_rm.reset_index()
df_comb_rm[df_comb_rm['Quantidade'] == 0] = np.NaN
df_comb_rm = df_comb_rm.dropna(subset=['Quantidade'])
df_comb_rm

,index,UF,Municipio,RM,Combustivel,Ano,Quantidade
1257,1257.0,AMAZONAS,AUTAZES,Região Metropolitana de Manaus,GNV,2020,1873
1260,1260.0,AMAZONAS,IRANDUBA,Região Metropolitana de Manaus,GNV,2020,13108
1261,1261.0,AMAZONAS,ITACOATIARA,Região Metropolitana de Manaus,GNV,2020,14981
1263,1263.0,AMAZONAS,MANACAPURU,Região Metropolitana de Manaus,GNV,2020,11236
1264,1264.0,AMAZONAS,MANAQUIRI,Região Metropolitana de Manaus,GNV,2020,1873
...,...,...,...,...,...,...,...
34689,34689.0,GOIAS,TRINDADE,Região Metropolitana de Goiânia,Gasolina,2000,4707350
34690,34690.0,GOIAS,VALPARAISO DE GOIAS,Região Integrada de Desenvolvimento do Distrit...,Gasolina,2000,14783270
34691,34691.0,GOIAS,VILA BOA,Região Integrada de Desenvolvimento do Distrit...,Gasolina,2000,81000
34692,34692.0,GOIAS,VILA PROPICIO,Região Integrada de Desenvolvimento do Distrit...,Gasolina,2000,25000
34693,34693.0,DISTRITO FEDERAL,BRASILIA,Região Integrada de Desenvolvimento do Distrit...,Gasolina,2000,593389679

In [58]:
df_comb_rm['Combustivel'] = df_comb_rm['Combustivel'].str.upper()
df_comb_rm['Combustivel'] = df_comb_rm['Combustivel'].apply(lambda x: x.replace('ETANOL', 'ALCOOL'))
df_comb_rm_g = df_comb_rm.groupby(['RM', 'Ano', 'Combustivel'])['Quantidade'].sum()
df_comb_rm_g

RM            Ano   Combustivel
Campo Grande  2000  ALCOOL          30912568.0
                    DIESEL         319021566.0
                    GASOLINA       134413994.0
              2001  ALCOOL          26725626.0
                    DIESEL         292123808.0
                                      ...
Rio Branco    2018  DIESEL          48819694.0
                    GASOLINA        84783134.0
              2019  ALCOOL           6139300.0
                    DIESEL          49512800.0
                    GASOLINA        86969027.0
Name: Quantidade, Length: 1747, dtype: float64

In [59]:
df_comb_rm_g.to_csv('datasets/base_volume_comb_rm.csv')